{% extends 'base.html.twig' %}

{% block title %}Hello DossierController!{% endblock %}

{% block body %}


    <head>

        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {#        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
        <style type="text/css">

        </style>
        {% block scripts %}
            <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

            <script type="text/javascript">
                window.alert = function(){};
                var defaultCSS = document.getElementById('bootstrap-css');
                function changeCSS(css){
                    if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
                    else $('head > link').filter(':first').replaceWith(defaultCSS);
                }
                $( document ).ready(function() {
                    var iframe_height = parseInt($('html').height());
                    window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
                });

            </script>
            <script>


                var room = 1;
                function education_fields() {

                    room++;
                    var objTo = document.getElementById('education_fields')
                    var divtest = document.createElement("div");
                    divtest.setAttribute("class", "form-group removeclass"+room);
                    var rdiv = 'removeclass'+room;
                    divtest.innerHTML = '<div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" placeholder="Nom cogerant"></div></div><div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Major" name="Major[]" value="" placeholder="Prenom cogerant"></div></div><div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Degree" name="Degree[]" value="" placeholder="Participation"></div></div><div class="col-sm-3 nopadding"><div class="form-group"><div class="input-group"> <div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>';

                    objTo.appendChild(divtest)
                }
                function remove_education_fields(rid) {
                    $('.removeclass'+rid).remove();
                }
            </script>
        {% endblock %}
    </head>

    <style>


        form-control {
            padding : 50px 50px 0 ;
            margin: 0 auto;
            width: 300px;
        }
    </style>

    <style>
        #pageMessages {
            position: fixed;
            bottom: 15px;
            right: 15px;
            width: 30%;
        }

        .alert {
            position: relative;
        }

        .alert .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1em;
        }

        .alert .fa {
            margin-right:.3em;
        }
    </style>


    <script src={{  asset('js/controleSaisie.js') }}></script>
    <script src={{  asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js') }}></script>
    <script src={{  asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js') }}></script>



    <link rel="stylesheet" href={{  asset("css/controlesaisie.css") }}>
    <link rel="stylesheet" href={{  asset("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css") }}>
    <link rel="stylesheet" href={{  asset("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css") }}>


    <script>
        function createAlert(title, summary, details, severity, dismissible, autoDismiss, appendToId) {
            var iconMap = {
                info: "fa fa-info-circle",
                success: "fa fa-thumbs-up",
                warning: "fa fa-exclamation-triangle",
                danger: "fa ffa fa-exclamation-circle"
            };

            var iconAdded = false;

            var alertClasses = ["alert", "animated", "flipInX"];
            alertClasses.push("alert-" + severity.toLowerCase());

            if (dismissible) {
                alertClasses.push("alert-dismissible");
            }

            var msgIcon = $("<i />", {
                "class": iconMap[severity] // you need to quote "class" since it's a reserved keyword
            });

            var msg = $("<div />", {
                "class": alertClasses.join(" ") // you need to quote "class" since it's a reserved keyword
            });

            if (title) {
                var msgTitle = $("<h4 />", {
                    html: title
                }).appendTo(msg);

                if(!iconAdded){
                    msgTitle.prepend(msgIcon);
                    iconAdded = true;
                }
            }

            if (summary) {
                var msgSummary = $("<strong />", {
                    html: summary
                }).appendTo(msg);

                if(!iconAdded){
                    msgSummary.prepend(msgIcon);
                    iconAdded = true;
                }
            }

            if (details) {
                var msgDetails = $("<p />", {
                    html: details
                }).appendTo(msg);

                if(!iconAdded){
                    msgDetails.prepend(msgIcon);
                    iconAdded = true;
                }
            }


            if (dismissible) {
                var msgClose = $("<span />", {
                    "class": "close", // you need to quote "class" since it's a reserved keyword
                    "data-dismiss": "alert",
                    html: "<i class='fa fa-times-circle'></i>"
                }).appendTo(msg);
            }

            $('#' + appendToId).prepend(msg);

            if(autoDismiss){
                setTimeout(function(){
                    msg.addClass("flipOutX");
                    setTimeout(function(){
                        msg.remove();
                    },1000);
                }, 1000);
            }
        }


    </script>

    <div id="pageMessages">
    </div>



    <div class="container2">

        <div id="myPopupFinal" class="popup hide">
            <div class="popup-header">
                Message
                <span class="close toggle" data-target="myPopupFinal">close</span>
            </div>
            <div class="popup-body" >
                <div id="msgfinalefinale">

                </div>

            </div>
            <div class="popup-footer">
                <button id="jsrfinale" class="toggle button" data-target="myPopup"  >Confirmer </button>
                <button id="jnsrfinale" class="toggle button" data-target="myPopup"  >Revenir </button>
            </div>
        </div>
    </div>



    <div class="container">

        <div id="myPopup" class="popup hide">
            <div class="popup-header">
                Message
                <span class="close toggle" data-target="myPopup">close</span>
            </div>
            <div class="popup-body" >
                ous Avez Choisi  cette option .
                <div id="msg">

                </div>
                êtes-vous sûr ?
            </div>
            <div class="popup-footer">
                <button id="jsr" class="toggle button" data-target="myPopup"  >Confirmer </button>
                <button id="jnsr" class="toggle button" data-target="myPopup"  >Revenir </button>
            </div>
        </div>
    </div>
    {{ form_start(form , {'attr': {'id': 'dossier','class': 'validate-form'}}) }}


    <div class="col-sm-3 nopadding">
        <div class="form-group">
            <div class="panel panel-default">

                {{ form_row(form.raisonSociale ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">


                <!------------------------------------------------------------->
                <style>


                    .hide {
                        visibility: hidden;
                        opacity: 0;
                        transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
                        -moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
                        -o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
                        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
                    }

                    .close {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 25px;
                        height: 25px;
                        font-size: 0;
                        cursor: pointer;
                    }

                    .close:before, .close:after {
                        content: '';
                        position: absolute;
                        background: #767676;
                        -moz-border-radius: 1px;
                        -webkit-border-radius: 1px;
                        -o-border-radius: 1px;
                        border-radius: 1px;
                        left: 14px;
                        right: 14px;
                        top: 30px;
                        height: 3px;
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        transition: all 100ms ease-in;
                        -moz-transition: all 100ms ease-in;
                        -webkit-transition: all 100ms ease-in;
                        -o-transition: all 100ms ease-in;
                    }

                    .close:after {
                        -moz-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    .popup {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        -moz-transform: translateX(-50%) translateY(-50%);
                        -o-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                        background: #FAFDFF;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                        width: 600px;
                        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
                        -moz-transition: all 120ms;
                        -webkit-transition: all 120ms;
                        -o-transition: all 120ms;
                        transition: all 120ms;
                        z-index: 99;
                        padding: 25px;
                        color: #5E5E5E;
                    }

                    @media screen and (max-width: 50px) {
                        .popup {
                            width: 50%;
                        }
                    }

                    .popup-header {
                        text-transform: uppercase;
                        font-size: 10px;
                    }

                    .popup-body {
                        padding: 15px 0;
                    }

                    .button {
                        padding: 10px 15px;
                        border: 1px solid #F5F5F5;
                        text-transform: uppercase;
                        box-shadow: 1px 2px 3px #F5F5F5;
                        color: #5E5E5E;
                        cursor: pointer;
                        transition: all 120ms ease-in;
                        outline:none;
                    }

                    .button:hover {
                        box-shadow: 1px 3px 5px #E9E9E9;
                        transform: translateY(-1px);
                    }

                    .button:active, .button:visited {
                        transform: translateY(1px);
                        outline:none;
                        box-shadow: 1px 2px 3px #F5F5F5;
                    }

                </style>

                <link rel="stylesheet" href="{{ asset('css/intlTelInput.css') }}">

                <script src={{  asset('js/intlTelInput.js') }}></script>



                <script>
                    /********PART 1***********/
                    $( document ).ready(function() {

                        $('#dossier_nbAssocies').hide();
                        $('label[for="dossier_nbAssocies"]').hide();
                        /**************/
                        var input = document.querySelector("#dossier_numeroTel");
                        var iti = window.intlTelInput(input, {
                            // separateDialCode:true,
                            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.3/build/js/utils.js",
                        });

// store the instance variable so we can access it in the console e.g. window.iti.getNumber()
                        window.iti = iti;
                        /**************/

                    });
                    /*********PART 2 [Forme Juridique]***********/

                    $(document).on('change' ,'.toggle', function(event) {
                        event.preventDefault();
                        $('#msg').text($('#dossier_formeJuridique :selected').text() );

                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');
                        return false;
                    });


                    $(document).on('click' ,'#jsr', function(event) {

                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        if( $('#dossier_formeJuridique :selected').text()=='SAS' ||
                            $('#dossier_formeJuridique :selected').text()=='SARL' ||
                            $('#dossier_formeJuridique :selected').text()=='SELARL' ||
                            $('#dossier_formeJuridique :selected').text()=='SELAS' )
                        {

                            $('#dossier_nbAssocies').show();
                            $('label[for="dossier_nbAssocies"]').show();

                            $('#dossier_categorieImposition').val("BNC");
                        }

                        else {
                            $('#dossier_nbAssocies').hide();
                            $('label[for="dossier_nbAssocies"]').hide();
                        }

                            if ($('#dossier_formeJuridique :selected').text()=='Association Loi 1901 non lucrative')
                            {
                                $('#dossier_typeImposition').val("IS");
                                $('#dossier_categorieImposition').val("Sans");
                            }
                            else if ($('#dossier_formeJuridique :selected').text()=='Association lucrative')
                            {
                                $('#dossier_typeImposition').val("IS");
                                $('#dossier_categorieImposition').val("Sans");
                            }

                            else if ($('#dossier_formeJuridique :selected').text()=='Entreprise individuelle')
                            {
                                $('#dossier_typeImposition').val("IR");


                                $("#dossier_categorieImposition option[value='Sans']").attr("disabled","disabled");
                                $("#dossier_categorieImposition option[value='Revenus Fonciers']").attr("disabled","disabled");
                                $("#dossier_categorieImposition option[value='Micro-BIC']").attr("disabled","disabled");
                                $("#dossier_categorieImposition option[value='Micro-BNC']").attr("disabled","disabled");
                                $("#dossier_categorieImposition option[value='Micro-Ba']").attr("disabled","disabled");
                                $("#dossier_categorieImposition option[value='Micro-Foncier']").attr("disabled","disabled");




                            }

                            else if ($('#dossier_formeJuridique :selected').text()=='Autoentrepreneur')
                            {
                                $('#dossier_typeImposition').val("IR");
                            }





                     else   if($('#dossier_formeJuridique :selected').text()=='EURL' ||
                            $('#dossier_formeJuridique :selected').text()=='SARL'
                        )
                        {
                            $("#dossier_categorieImposition option[value='BNC']").attr("disabled","disabled");

                            $("#dossier_categorieImposition option[value='Sans']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Revenus Fonciers']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BIC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BNC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Ba']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Foncier']").attr("disabled","disabled");

                        }
                        else if($('#dossier_formeJuridique :selected').text()=='SAS' ||
                            $('#dossier_formeJuridique :selected').text()=='SASU'
                        )
                        {
                            $("#dossier_categorieImposition option[value='Sans']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Revenus Fonciers']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BIC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BNC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Ba']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Foncier']").attr("disabled","disabled");
                        }

                        else if($('#dossier_formeJuridique :selected').text()=='SCI')
                        {

                            $("#dossier_categorieImposition option[value='Sans']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='BNC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BIC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BNC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Ba']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Foncier']").attr("disabled","disabled");
                        }

                        else if($('#dossier_formeJuridique :selected').text()=='EIRL')
                        {
                            $("#dossier_categorieImposition option[value='Sans']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Revenus Fonciers']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BIC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-BNC']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Ba']").attr("disabled","disabled");
                            $("#dossier_categorieImposition option[value='Micro-Foncier']").attr("disabled","disabled");

                        }


                    });
                    /********************************/

                    $(document).on('click' ,'#jnsr', function(event) {
                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');
                    });
                    /*********PART 3 (forme juridique + nb associes) ***********/

                    $(document).on('change' ,'#dossier_nbAssocies', function(event) {

                        if($('#dossier_nbAssocies :selected').text()=='1' ){
                            if($('#dossier_formeJuridique :selected').text() == 'SARL' )
                            {
                                $('#dossier_formeJuridique').val('EURL');
                            }

                            else if($('#dossier_formeJuridique :selected').text() == 'SAS')
                            {
                                $('#dossier_formeJuridique').val('SASU');
                            }

                            else if($('#dossier_formeJuridique :selected').text() == 'SELARL'  )
                            {
                                $('#dossier_formeJuridique').val('SELEURL');

                            }
                        }
                    });
                    /*********PART 4 [Franchise TVA]***********/

                    $(document).on('change' ,'.toggleTVA', function(event) {
                        event.preventDefault();
                        $('#msg').text($('#dossier_franchiseEnBaseTva :selected').text() );

                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        console.log($('#dossier_franchiseEnBaseTva :selected').text() )

                        return false;

                    });

                    /*********PART 5 [TYPE  D'IMPOSITION]***********/
                    $(document).on('change' ,'.toggleTypeImpo', function(event) {
                        event.preventDefault();
                        $('#msg').text($('#dossier_typeImposition :selected').text() );

                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        console.log($('#dossier_typeImposition :selected').text() )

                        return false;

                    });
                    /*********PART 6 [Régime Micro]***********/

                    $(document).on('change' ,'.toggleRegMicro', function(event) {
                        event.preventDefault();
                        $('#msg').text($('#dossier_regimeMicro :selected').text() );


                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        if ($('#dossier_regimeMicro :selected').text() == "oui"){
                            createAlert('Opps!','Attention','Pour rappel , la tenue de comptablilité n"est pas obligatoire en régime micro.','danger',true,false,'pageMessages');

                            if($('#dossier_categorieImposition :selected').text() =='BIC')
                            {
                                $('#dossier_categorieImposition').val("Micro-BIC");

                            }

                            else if($('#dossier_categorieImposition :selected').text() =='BNC')
                            {
                                $('#dossier_categorieImposition').val("Micro-BNC");
                            }

                            else if($('#dossier_categorieImposition :selected').text() =='BA')
                            {
                                $('#dossier_categorieImposition').val("Micro-Ba");
                            }

                            else if( $('#dossier_categorieImposition :selected').text() =='Revenus Fonciers')
                            {
                                $('#dossier_categorieImposition').val("Micro-Foncier");
                            }

                        }



                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        return false;

                    });


                    /*********PART 7 [Catégorie Imposition]***********/
                    $(document).on('change' ,'.toggleCategorieImpo', function(event) {
                        event.preventDefault();
                        $('#msg').text($('#dossier_categorieImposition :selected').text() );

                        var target = $(this).data('target');
                        $('#' + target).toggleClass('hide');

                        console.log($('#dossier_categorieImposition :selected').text() )

                        return false;

                    });

                    /*********PART 8 [Secteur d'activité ]***********/

                    $(document).on('change' ,'#dossier_categorieImposition', function(event) {
                        event.preventDefault();

                        if( $('#dossier_categorieImposition:selected').text()=='BA' || $('#dossier_categorieImposition:selected').text()=='Micro-BA'  )
                        {

                         //  $("#dossier_secteurActivite option[value='Micro-Foncier']").attr("disabled","disabled");
                           $('#dossier_secteurActivite').val("Agriculture Elevage");
                            createAlert('Opps!','Attention','Pour rappel , ATTENTION ! VOTRE ACTIVITE ETANT REGLEMENTEE, VOTRE COMPTABILITE DOIT ÊTRE ATTESTEE PAR UN EXPERT-COMPTABLE ','danger',true,false,'pageMessages');

                        }




                        return false;

                    });
                </script>

                <!--------------------------Controle de saisie----------------------------------->
                <style>
                    .error
                    {
                        color:red;
                        font-family: serif;
                    }
                </style>


                <!------------------------------------------------------------->
                {{ form_row(form.formeJuridique ,{'attr': {'class': ' toggle button  form-control' , 'data-target':'myPopup'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.capitalSocial ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.nbAssocies ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.adressSiegeSocial ,{'attr': {'class': 'form-control'}} )}}

            </div>


            <div class="form-group">
                <div class="input-holder">
                    {{ form_row(form.codePostale,{'attr': {'class': 'form-control validate '  , 'maxlength':'5' }} )}}
                    <span class="message">Un code postale doit inclure 5 chiffre</span>
                </div>
            </div>

            <div class="form-group">

                {{ form_row(form.ville ,{'attr': {'class': 'form-control'}} )}}

            </div>



            <div class="form-group">

                <div class="col">
                    {{ form_label(form.numeroTel)}}
                </div>

                {{ form_widget(form.numeroTel ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.adressMail ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">
                <div class="input-holder">
                    {{ form_row(form.siret ,{'attr': {'class': 'form-control validate' , 'maxlength':'14' }} )}}
                    <span id="messagesiret" class="message">Un numéro siret doit inclure 14 chiffre</span>
                </div>
            </div>



            <div class="form-group">

                {{ form_row(form.franchiseEnBaseTva ,{'attr': {'class': ' toggleTVA button  form-control ' , 'data-target':'myPopup'}} )}}

            </div>

            <div class="form-group">
                <div class="input-holder">
                    {{ form_row(form.numeroTVAintracommunaitre ,{'attr': {'class': 'form-control validate', 'maxlength':'13' }} )}}
                    <span id="messagenumeroTVAintracommunaitre" class="message">Un numéro TVA intracommunaitre doit étre sous la forme "FR+11 chiffres"</span>
                </div>
            </div>

            <div class="form-group">

                {{ form_row(form.typeImposition ,{'attr': {'class': ' toggleTypeImpo button  form-control' , 'data-target':'myPopup'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.regimeMicro ,{'attr': {'class': ' toggleRegMicro button  form-control' , 'data-target':'myPopup'}})}}

            </div>

            <div class="form-group">

                {{ form_row(form.categorieImposition ,{'attr': {'class': ' toggleCategorieImpo button  form-control' , 'data-target':'myPopup'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.regimeIndependants ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.nomGerant ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <div class="form-group">

                {{ form_row(form.prenomGerant ,{'attr': {'class': 'form-control'}} )}}

            </div>



        </div>
    </div>




    <div class="panel panel-default">


        <div class="panel-body">

            <div id="education_fields">

            </div>
            {{ form_start(form1) }}

            <div class="col-sm-3 nopadding">
                <div class="form-group">

                    {{ form_row(form1.nomCogerant ,{'attr': {'class': 'form-control'}} )}}

                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    {{ form_row(form1.prenomCogerant ,{'attr': {'class': 'form-control'}} )}}
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    {{ form_row(form1.participation ,{'attr': {'class': 'form-control'}} )}}
                </div>
            </div>
            <div class="col-sm-3">

                {{ form_row(form.secteurActivite ,{'attr': {'class': 'form-control'}} )}}

            </div>

            <button type="submit" class="btn btn-primary" onclick= "submitForms()"  data-target="#myPopupFinal">Finaliser</button>

            {{ form_end(form1) }}
            {{ form_end(form) }}



            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <div class="input-group">

                        <!----<div class="input-group-btn">
                            <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                        </div>--->
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>


        <!----------------SAISIE ------------------------------------->

        <script>

            // Simple Validation - By Chad Humphrey - hmphry.com
            // Released under the MIT license

            // Get all forms
            var simpleValidation = function(){


                var validateForm = $('form[name="dossier"]')

                // Gets all forms to Validate
                validateForm.each(function(){
                    // Defining basic variables, bro
                    var validateForm = $(this);
                    var validate = {};
                    var validateThis = $(this).find('.validate');
                    var validatingLength = $(this).find('.validate').length;
                    var submitBtn = $(this).find('.submit');

                    // For Loop Getting Elements to Validate
                    for(var i = 1; i <= validatingLength; i++){
                        // Adding Inputs to object, false for default
                        validate['input'+i] = false;
                    }

                    $('#dossier_numeroTVAintracommunaitre').blur(function(){
                        var index =  $(this).prevAll().length+1;
                        var validateThisVal = $(this).val();
                        var validateThisType = $(this).attr('type');

                        const reg = new RegExp('[fr|FR]{2}[0-9]{11}');


                        // Condition to see if  exists
                        if(!validateThisVal.match(reg)){
                            $(this).addClass('not-valid');
                            $('span#messagenumeroTVAintracommunaitre').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else if(validateThisVal.length<13){
                            $(this).addClass('not-valid');
                            $('span#messagenumeroTVAintracommunaitre').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else{
                            $(this).addClass('is-valid');
                            $(this).removeClass('not-valid');
                            $('span#messagenumeroTVAintracommunaitre').hide();
                            return validate['input'+index] = true;
                        }



                    });

                    $('#dossier_siret').blur(function(){
                        var index =  $(this).prevAll().length+1;
                        var validateThisVal = $(this).val();
                        var validateThisType = $(this).attr('type');

                        const reg = new RegExp('^[0-9]+$');


                        // Condition to see if  exists
                        if(!validateThisVal.match(reg)){
                            $(this).addClass('not-valid');
                            $('span#messagesiret').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else if(validateThisVal.length<14){
                            $(this).addClass('not-valid');
                            $('span#messagesiret').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else{
                            $(this).addClass('is-valid');
                            $(this).removeClass('not-valid');
                            $('span#messagesiret').hide();
                            return validate['input'+index] = true;
                        }



                    });

                    $('#dossier_codePostale').blur(function(){
                        var index =  $(this).prevAll().length+1;
                        var validateThisVal = $(this).val();
                        var validateThisType = $(this).attr('type');

                        const re = /^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/;
                        const reg = new RegExp('^[0-9]+$');


                        // Condition to see if  exists
                        if(!validateThisVal.match(reg)){
                            $(this).addClass('not-valid');
                            $('span.message').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else if(validateThisVal.length<5){
                            $(this).addClass('not-valid');
                            $('span.message').show();
                            $(this).removeClass('is-valid');
                            return validate['input'+index] = false;
                        }

                        else{
                            $(this).addClass('is-valid');
                            $(this).removeClass('not-valid');
                            $('span.message').hide();
                            return validate['input'+index] = true;
                        }



                    });


                    validateForm.submit(function(event){
                        // Prevents Default
                        event.preventDefault();

                        // Logging form errors
                        var falseCtn = 0;
                        for(var i = 1; i <= validatingLength; i++){
                            if(validate['input'+i] == false){
                                falseCtn++;
                            }
                        }

                        // Checking if any falses exist
                        if(falseCtn > 0){
                            $(this).unbind('submit').submit();
                            $(this).click();
                        } else{
                        }
                    });




                });



            };

            simpleValidation()




            submitForms = function(){

                var target = $(this).data('target');
                $('#' + target).toggleClass('hide');

                document.forms["form"].submit();
                document.forms["form1"].submit();
            }
            //endmodif
        </script>
        <!------------------------------------------------------------->
{% endblock %}